@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import './assets/font.scss';
@import './assets/variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Severs', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
